.flex-land {
  background-color: black;
  color: white;
  margin-top: 1rem;
}
.flex-land1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-land {
  font-family: "Fugaz One" !important;
  font-style: normal !important;
  font-size: 0.92rem;
  text-align: center !important;
  margin-left: 0.4rem;
  margin-top: 0.5rem;
}
.flex-land23 {
  display: none;
}
@media (max-width: 2560px) {
  .text-land {
    font-family: "Fugaz One" !important;
    font-style: normal !important;
    font-size: 1.5rem;
    text-align: center !important;
    margin-left: 0.4rem;
    margin-top: 0.5rem;
  }
}
@media (max-width: 1440px) {
  .text-land {
    font-family: "Fugaz One" !important;
    font-style: normal !important;
    font-size: 1rem;
    text-align: center !important;
    margin-left: 0.4rem;
    margin-top: 0.5rem;
  }
}
@media (max-width: 425px) {
  .flex-land23 {
    background-color: black;
    color: white;
    margin-top: 4rem;
    display: flex;
  }
  .flex-land {
    display: none;
  }
}
